.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th {
    height: auto;
    overflow-x:auto;
    padding: 3px;
    font-size: medium;
    text-transform: uppercase;
}   


.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

body {
    background-color:rgb(37, 37, 37);
    color: aliceblue;
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
}
h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 2.8rem;
    color: cornflowerblue;
    margin: 0;
}
td {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.0rem;
    text-align: center;
    padding: 4px;
}
.button {
    border: none;
    color: white;
    background-color: cornflowerblue;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    /* margin-left: 4px; */
}
.input {
    background-color: cornflowerblue;
    padding: 8px 8px;
    color: white;
    margin-top: 8px;
}