
{% extends 'base.html' %}

{% block head %}
<title>Random Number</title>
{% endblock %}

{% block body %}

    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Create an Account</h1>

            <form name="signup_form" action="" method="post">
                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>

                <label for="name">Email</label>
                <input type="email" name="email" class="field" required>
                
                <label for="name">Password</label>
                <input type="password" name="password" class="field" required>
                
                {% if message %}
                <p class="error">{{message}}</p>
                {% endif %}
                <input type="submit" value="Sign Up" class="btn">
                

            </form>

            <a href="/login" class="auth_url">Already a user? Login.</a>

            
        </div>
    </div>

{% endblock %}